---
layout: archive
title: "Research"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% assign working_papers = site.publications | where: "category", "working_papers" %}
{% assign work_in_progress = site.publications | where: "category", "work_in_progress" %}

{% if working_papers.size > 0 %}
<h2>Working Papers</h2>
<ul>
{% for post in working_papers reversed %}
    <li>
      <strong>{{ post.title }}</strong><br>
      {% if post.authors.size > 0 %}
        {% if post.authors.size == 1 %}
          <em>with {{ post.authors[0] }}</em><br>
        {% elsif post.authors.size == 2 %}
          <em>with {{ post.authors[0] }} and {{ post.authors[1] }}</em><br>
        {% else %}
          <em>with {{ post.authors[0] }} and {{ post.authors[1] }} and {{ post.authors.size | minus: 2 }} others</em><br>
        {% endif %}
      {% endif %}
      {% if post.excerpt %}
        <p><strong>Abstract:</strong> {{ post.excerpt }}</p>
      {% endif %}
    </li>
{% endfor %}
</ul>
{% endif %}

{% if work_in_progress.size > 0 %}
<h2>Work in Progress</h2>
<ul>
{% for post in work_in_progress reversed %}
    <li>
      <strong>{{ post.title }}</strong><br>
      {% if post.authors.size > 0 %}
        {% if post.authors.size == 1 %}
          <em>with {{ post.authors[0] }}</em><br>
        {% elsif post.authors.size == 2 %}
          <em>with {{ post.authors[0] }} and {{ post.authors[1] }}</em><br>
        {% else %}
          <em>with {{ post.authors[0] }} and {{ post.authors[1] }} and {{ post.authors.size | minus: 2 }} others</em><br>
        {% endif %}
      {% endif %}
      {% if post.excerpt %}
        <p><strong>Abstract:</strong> {{ post.excerpt }}</p>
      {% endif %}
    </li>
{% endfor %}
</ul>
{% endif %}
