{% if page.url == "/" %}
  <!-- Author profile code that should only appear on the welcome page -->
  <div itemscope itemtype="http://schema.org/Person">
    <div class="author__avatar" style="border: none; box-shadow: none;">
      {% if author.avatar %}
        {% if author.avatar contains "://" %}
          <img src="{{ author.avatar }}" alt="{{ author.name }}" style="outline: none; box-shadow: none;border-radius: 50%; width: auto; height: auto;">
        {% else %}
          <img src="{{ author.avatar | prepend: "/images/" | prepend: base_path }}" alt="{{ author.name }}" style="border: none; outline: none; box-shadow: none; border-radius: 50%; width: auto; height: auto;">
        {% endif %}
      {% else %}
        <img src="/images/default-avatar.jpg" alt="Default Avatar" style="border: none; box-shadow: none; border-radius: 50%; width: auto; height: auto;">
      {% endif %}
    </div>

    <div class="author__content">
      <h3 class="author__name">{{ author.name }}</h3>
      {% if author.pronouns %}<p class="author__pronouns">{{ author.pronouns }}</p>{% endif %}
      {% if author.bio %}<p class="author__bio">{{ author.bio }}</p>{% endif %}
    </div>

    <div class="author__urls-wrapper">
      <button class="btn btn--inverse">Follow</button>
      <ul class="author__urls social-icons">
        {% if author.location %}
          <li class="author__desktop"><i class="fa-solid fa-location-dot icon-pad-right" aria-hidden="true"></i>{{ author.location }}</li>
        {% endif %}
        {% if author.employer %}
          <li class="author__desktop"><i class="fas fa-fw fa-building-columns icon-pad-right" aria-hidden="true"></i>{{ author.employer }}</li>
        {% endif %}
        {% if author.uri %}
          <li><a href="{{ author.uri }}"><i class="fas fa-fw fa-link icon-pad-right" aria-hidden="true"></i>{{ site.data.ui-text[site.locale].website_label | default: "Website" }}</a></li>
        {% endif %}
        {% if author.email %}
          <li><a href="mailto:{{ author.email }}"><i class="fas fa-fw fa-envelope icon-pad-right" aria-hidden="true"></i>{{ site.data.ui-text[site.locale].email_label | default: "Email" }}</a></li>
        {% endif %}
        <!-- Additional social and academic links here... -->
      </ul>
    </div>
  </div>
{% endif %}
